:root{
    --main-bg: #1c1c20;
    --second-bg: #202023;
    --text-color: white;
    --second-text-color:#626267;
    --button-color: #3abab4;
    
}


*{
    box-sizing: border-box;
    font-family: system-ui;
}

html{
    font-size: 12px;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--main-bg);
}



img{
    max-width: 100%;
}

nav{
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 20px;
}

.links-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover{
    background-color: whitesmoke;
}

#request-btn{
    background-color: var(--button-color);
    color: white;
    border: none;
    text-wrap: nowrap;
    padding: 0.2rem 0.6rem;
    text-align: center;
    margin-left: auto;
    font-weight: 600px;
}

.nav svg{
    color: white;

}

#sidebar-activate{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}


@media(max-width: 495px) {

    #request-btn{
        display: none;
    }
    .links-container{
        display: none;
        width: 200px;
        font-weight: 700;
        position: fixed;
        top:0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: rgb(15, 13, 13);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
    }

    nav a{
        box-sizing: border-box;
        width: 100%;
        font-size: 2rem;
        border-bottom: 1px solid white;
    }

    .open-sidebar-button, .close-sidebar-button{
        display: block;
    }

    .close-sidebar-button{
        padding: 5px 10px;
    }
    #sidebar-activate:checked ~ .links-container{
        display: flex;
    }


   
}




.first-container{
    max-width: 800px;
    margin-inline:auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    
}

.side{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 1rem;
    
}

h1{
    font-weight: 900;
    font-size: 2rem;
    color: white;
}

p{  font-size: 12px;
    font-weight: 600;
    color: var(--second-text-color);
    margin: 0;
    
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style-type: none;
    color: var(--second-text-color);
}

.request-container{
    min-height: 50px;
    display: flex;
    align-items: center;
}

#email{
    height: 100%;
    width: 60%;
    background-color: var(--second-bg);
    border: 1px solid white;
    border-radius: 3px;
    font-weight: 600;
}

#phone{
    min-width: 200px;
    margin-inline: auto;
   
}

.request-btn2{
    color: white;
    background-color: var(--button-color);
    border-radius: 3px;
    border: 0;
    margin-left: auto;
    padding: 2px 6px;
    font-weight: 600;
}

.stats{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:1rem;
    flex-wrap: wrap;
}

.rectangle{
    background-color: #2e2e32;
    text-align: center;
    padding: 0 0.8rem;
    color: white;
}

.stats p{
    padding-bottom: 1rem;
}

hr{
    margin: 4rem 0;
}

